<div class="container">
    <div class="texto-centralizado">
        <h1>Nossa missão</h1>

       <h2>
        S.A.E – Simples, ágil e eficiente. A Light Tech trabalha com base nesses três pilares, 
        <br>
        sempre visando o melhor serviço para seus clientes. Criando softwares para integrar sistemas 
        <br>
        e trazendo facilidade e praticidade nos locais onde são instalados. Não se engane na palavra 
        <br>
        “Simples”, colocada para expressar que nossos softwares não têm códigos de sobra só para pesar 
        <br>
         ou atrapalhar no seu desenvolvimento. Trabalhamos visando um sistema fluido, minimalista, e 
         <br>
        com um código mais limpo, para fácil compreensão dos nossos programadores.
        <br>
       </h2>
       <a mat-list-item>
        <i class="material-icons">
            directions_run
        </i>
        Agilidade e eficiência !
    </a>
    <br>
    <h3> Sobre nós
        <br>
    
        A Light Tech Ltda, é uma empresa do ramo da tecnologia que tem como objetivo principal a criação de sistemas
        <br>
         para outras empresas, visando sempre a melhora e inovação de todos os nossos softwares. No processo de criação, 
         <br>
         damos muita importância a comunicação, uma das peças fundamentais para o andamento de um projeto e para a finali
         <br>
         zação deste. Trabalhamos de forma bem flexível, caso venha surgindo necessidade de mudanças ou inovações, 
         <br>
         voltamos e aplicamos o necessário.
        </h3>
        <span>
            <a>
                <img class="logo" src="assets/img/logo.png" alt="logo">
            </a>
        </span>
    </div>
  </div>
  